@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div>
    <a href="/Home/about/19">send</a>
    <a href="/Home/about/?name=shayan">send String</a>
</div>
<p>Use this page to detail your site's privacy policy.</p>
